<div id="<%= dom_id thing %>">
  <p>
    <strong>Name:</strong>
    <%= thing.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= thing.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= thing.price %>
  </p>

</div>
